@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

header.scrolled {
  background-color: red; /* Change this to your desired background color */
}
